{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": "6"
      }
    }]
  ],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error"]
    }]
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
