{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": "6"
      },
      "useBuiltIns": "usage"
    }]
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
